page-about {

}
.about {
    background-image: url('../../assets/imgs/green.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.img {
    margin-left: 27.5%;
    height: 70vh !important;
    width: auto !important;
}
.card-md h1 {
    color: black;
}
.card-h1{font-family:'Oswald', serif;}
.card-p{font-family:'Montserrat', serif;}
.imgs {
    margin-left:5vw;
}
.ionic {
    width:15vw !important;
}
.mapbx {
    width:30vw !important;
}
.tba{
    padding-left:10vw;
    width:20vw !important;
}