page-contact {

}
.cards{
    background: radial-gradient(at top left, #fff 0%, #19FF3B 100%);
}
.name{
    font-weight: 400;
    font-family: 'Open Sans', serif;
}
.event {
    font-family: 'Ubuntu', serif;
}
.gmap {
    text-decoration: none;
    font-family: 'Ubuntu', serif;
    color: black;
}
.team-card {
    // background: radial-gradient(at bottom left, rgba(19, 196, 45, 1) 0%, rgba(14, 143, 33, 1) 25%,  rgba(10,97,24,1) 100%) ;
    // background: linear-gradient(to bottom right,#11A629, #16E034);
    background: linear-gradient(to bottom right,#0a6118, #16E034);
}
.a {
    text-decoration: none;
    color: white;
}
.sans, .motto {
    font-family: 'Open Sans', serif;
}
.card-h {
    color: white;
}
.motto, .location{color:white}
.gmap ion-icon {
    transition: all 0.5s ease;
}
.gmap ion-icon:hover{
    margin-left:0.75rem; 
}