page-home {

}
mgl-map {
    height: 100%;
}
// #dropdown {
//     width: 10%;
// }
.select-placeholder {
    overflow: visible;
    padding-right: 5em;
    color:white;
}
.select-icon{
    padding-right: 5em;
}
.select-text:not(.select-placeholder) {
    padding-right:3em;
    color: white;  
}
.select-placeholder .select-md {color:white;}
